@import url('https://fonts.googleapis.com/css?family=Audiowide|Baloo|Baloo+Bhai|Bebas+Neue|Comfortaa|Concert+One|Fredoka+One|Righteous|Roboto+Mono|Ubuntu+Mono&display=swap');

html, body, .app {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black;
  color: white;
  font-family: Roboto Mono;
}

div, h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: green;
  text-decoration: underline;
}

.app {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  scroll-snap-type: y proximity;
}

/* ----------App---------- */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40vh auto;
  padding: 0 5vw;

/* max-width: 90vw; */
  width: 90vw;
  height: max-content;
  text-align: center;
  font-size: 130%;
}

.no-mg {
  margin: 30px auto;
}

.scroll-snap {
  scroll-snap-align: center;
}

.main {
  font-size: 200%;
}

.section > * {
  display: block;
}

.section > h1 {
  margin-bottom: 20px;
}

.section > h1.header {
  /* margin: 0 auto; */
  margin-bottom: 40px;
  padding: 4px 10px;
  width: max-content;
  border-radius: 6px;
  background-color: white;
  color: black;
}

/* ----------Projects---------- */
/* .projects::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('assets/chevrons.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
	content: '';
	width: 100vw;
	height: 100vh;
	opacity: 0.4;
} */

.projects {
  flex-direction: row;
  margin-left: 100vw;
  max-width: max-content;
}

.projects > .item {
  margin: 6vh auto;
  min-width: 100vw;
}

.projects > .item > a {
  display: block;
  margin: 0 auto;
  padding: 4px 10px;
  width: max-content;
  border-radius: 6px;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

.projects > .item > img {
  margin: 30px auto;
  max-width: 50%;
  border-radius: 6px;

  user-select: none;
}

.projects > .item > p {
  margin: 20px auto;
  padding: 0 40px;
  width: 70vw;
  text-align: left;
  font-size: 20px;
}