@import url('https://fonts.googleapis.com/css?family=Audiowide|Baloo|Baloo+Bhai|Bebas+Neue|Comfortaa|Concert+One|Fredoka+One|Righteous|Roboto+Mono|Ubuntu+Mono&display=swap');

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black;
  color: white;
  font-family: Roboto Mono;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  scroll-snap-type: y proximity;
}

div, h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: green;
  text-decoration: underline;
}

/* ----------App---------- */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40vh auto;
  padding: 0 5vw;

/* max-width: 90vw; */
  width: 90vw;
  height: max-content;
  text-align: center;
  font-size: 130%;
}

.no-mg {
  margin: 30px auto;
}

.scroll-snap {
  scroll-snap-align: center;
}

.main {
  font-size: 200%;
}

.section > * {
  display: block;
}

.section > h1 {
  margin-bottom: 20px;
}

.section > h1.header {
  /* margin: 0 auto; */
  margin-bottom: 40px;
  padding: 4px 10px;
  width: max-content;
  border-radius: 6px;
  background-color: white;
  color: black;
}

/* ----------Projects---------- */
.projects-container {
	width: 100vw;
	height: 100vh;
  background-image: url('assets/chevrons.png');
  background-position: center;
  background-size: 100%;
	background-repeat: no-repeat;
}

.projects {
  flex-direction: row;
  margin-left: 100vw;
	max-width: max-content;
	height: 100vh;
}

.projects > .item {
  margin: 6vh auto;
  min-width: 100vw;
}

.projects > .item  a > h1 {
  display: block;
  margin: 0 auto;
  padding: 4px 10px;
  width: max-content;
  border-radius: 6px;
  /* background-color: green; */
  color: white;
  text-align: center;
  text-decoration: none;
}

.projects > .item > a {
  display: block;
  margin: 0 auto;
  width: min-content;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

.projects > .item > a > img {
  margin: 30px auto;
  max-width: 50vw;
  border-radius: 6px;

  user-select: none;
}

.projects > .item > p {
  margin: 0 auto;
  padding: 0 40px;
  width: 70vw;
  text-align: left;
  font-size: 20px;
}

/* ----------Contact---------- */
.contact {
	margin-bottom: 20vh;
}

.contact .list {
	display: flex;
	flex-direction: row;
	margin-bottom: 10vh;
	justify-content: center;
}

.contact .list > a {
	margin: 0 14px;
}

.contact .list > a > img {
	border-radius: 100%;
	background-color: white;
	width: 60px;
	height: 60px;
	padding: 6px;
	transition: 200ms ease-out;
}
.contact .list > a:hover > img {
	padding: 12px;
	margin: -6px;
	margin-top: -20px;
	background-color: lightgreen;
}
