@import url('https://fonts.googleapis.com/css?family=Audiowide|Baloo|Baloo+Bhai|Bebas+Neue|Comfortaa|Concert+One|Fredoka+One|Righteous|Roboto+Mono|Ubuntu+Mono&display=swap');

html, body, .site, .app {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background-color: white;
	color: black;
	font-family: Calibri, sans-serif;
}

div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
	text-decoration: none;
}

.app {
	display: flex;
	flex-direction: column;
}

/* ----------App---------- */
.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	padding: 4px 0;
	width: calc(100%);
	height: 40px;
	background: -webkit-linear-gradient(-45deg, rgba(242, 242, 242, 1) 0%, rgba(240, 240, 240, 1) 49%, rgb(210, 210, 210) 51%, rgba(247, 247, 247, 1) 51%, rgba(245, 245, 245, 1) 100%);
	background-color: #f1f1f1;
	box-shadow: 0 0 8px #00000077;
}

.nav * {
	opacity: 0;
}

.nav > * {
	margin: auto 4px;
}

.nav-section {
	display: flex;
	flex-direction: row;
	min-width: 25%;
	height: 40px;
}

.nav-section > * {
	margin: auto 4px;
}

.nav-logo {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.nav-title {
	font-size: 20px;
}

.nav-heading {
	margin: auto;
	margin-right: 25%;
	width: 50%;
	text-align: center;
	font-weight: 900;
	font-size: 30px;
}

.scroll {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	margin-top: 48px;
	height: calc(100% - 50px);
}

.panel {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - 50px);
}

.panel > * {
	margin: 10px auto;
}

.animation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 6% auto;
	width: max-content;
	font-weight: 900;
	font-size: 64px;
	font-family: 'Comfortaa', cursive;
}

.animation > * {
	margin: 10px auto;
	transition: transform 600ms ease-out, opacity 300ms ease-out;
}

.animation.done > * {
	transition: none;
}

.part-A.start {
	opacity: 0;
	transform: translateY(-222%);
}

.part-B {
	width: 200px;
	border-radius: 100%;
}

.part-B.start {
	opacity: 0;
	/* transform: translateY(304%); */
	transform: translateY(200%);
}

.part-C {
	width: 200px;
	opacity: 0.5;
	transform: translate(72px, -10px);
}

.part-C.start {
	opacity: 0;
}
